

.logo{
    width: 2rem;
}
.imagelogodiv{
    display: flex;
    align-items: center;
    gap: 20px;
  
}

.left-nav-div{
    display: flex;
}

#nav-ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-weight:bold;
}


#nav{
    display: flex;
    align-items: center;
}
#nav-btn{
    border-radius: 5px;

  }